{% extends "index.html" %}
{% block content %}
<div class='container'>
  <div class="score">0</div>
  <div class="top">
      <div class="life">❤️❤️❤️</div>
      <div class="item available" draggable="true">
          <img class="item_img" alt="Random Image">
          <div class="description"></div>
      </div>
  </div>
  <div class="bottom">
      <div class="item available">
          <img class="item_img" alt="Random Image">
          <div class="description"></div>
      </div>
  </div>
</div>
{% endblock %}
